<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edition</title>
</head>
<body>
  <div>
    <form th:method="patch" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
        <label for="fio">ФИО:</label>
        <input type="text" th:field="*{fio}" id="fio">
        <p style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"></p>
        <br>
        <br>
        <label for="year">Год рождения:</label>
        <input type="text" th:field="*{year}" id="year">
        <p style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
        <br>
        <br>
        <input type="submit" value="update">
    </form>
  </div>
</body>
</html>